@charset "UTF-8";
/* CSS Document */

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 10pt;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 3px;
	text-align: center;
	font-weight: bold;
}
.displaySort tr {
	height: 7px;
	font-weight: bold;
}
.header {
	font-size: 18pt;
}
.sortedLabel {
	font-size: 12pt;
}
.padder {
	width: 5px;
	background: #444;
}
.plate {
	background: #99ccff;
}
table table {
	margin: 20px;
}
